<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jobeet!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center well">
                        <strong>JOBEET</strong>
                    </h1>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
            <script>
                $('.js-datepicker').datetimepicker({
                    //language:  'id',
                    weekStart: 0,
                    todayBtn:  1,
                    autoclose: 1,
                    todayHighlight: true,
                    startView: 2,
                    forceParse: 0,
                    showMeridian: 1,
                    format: 'yyyy-mm-dd hh:ii:ss'
                });
            </script>
        {% endblock %}
    </body>
</html>
